body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(31, 31, 255);
    color: white;
}

.n-wrapper {
    /* border: 1px solid; */
    height: 10vh;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    top: 0;
    /* background-color: blue; */
  }
  .n-left {
    flex: 1;
    align-items: center;
    justify-content: left;
    display: flex;
    gap: 2rem;
  }
  
  .n-name {
    font-size: 1.3rem;
    font-weight: bold;
  }
  .n-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: 400;
  }
  
  .n-list {
    width: 490px;
    flex: 10;
  }
  .n-list > ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin-right: 4rem;
  }
  
  .n-list > ul :hover {
    cursor: pointer;
  }


  
  #hamburger-icon{
    margin: auto 0;
    display: none;
    cursor: pointer;
  }

  #hamburger-icon div{
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }

  .open .bar1{
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px 6px);
  }

  .open .bar2{
    opacity: 0;
  }

  .open .bar3{
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px -8px);
  }

  .open .mobile-menu{
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: blue;
  }

  .mobile-menu{
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    height: calc(50vh);
    width: 100%;
    padding: 0;
    padding-top: 10vh;
  }

  .mobile-menu > li{
    height: 10vh;
  }

  .n-button{
    background-color: rgb(31, 31, 255);
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
  }

  /* **************  Home  ***************** */
  #home{
    display: flex;
    width: 95%;
    margin: auto;
    justify-content: space-between;
  }

  #home>h1{
    font-size: 5vw;
  }

  #home>img{
    border-radius: 50%;
    width: 25vw;
  }

  @media screen and (max-width: 700px) {
    .n-list {
      display: none;
    }
    
    .n-button{
        display: none;
    }

    #hamburger-icon{
        display: block;
    }

    /* Home */
    #home{
      display: block;
      text-align: center;
    }

    #home>h1{
      font-size: 5vw;
    }
  
    #home>img{
      border: 3px solid black;
      width: 30vw;
    }
  }